apiVersion: v1
kind: Pod
metadata:
  name: {{ name }}
  namespace: dist-sched
spec:
  schedulerName: {{ scheduler_name }}
  containers:
    - name: fib
      image: wd312/fib
      command: ["./fib.py"]
      args: ["{{ n }}"]
      imagePullPolicy: IfNotPresent
      resources:
        requests:
          cpu: "{{ cpu }}m"
  restartPolicy: Never
